.chatto {

    box-shadow: 0 5px 30px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .5);
    border-radius: 1em;
}

.chatto-header {
    background: rgba(0, 0, 0, .25);
    border-radius: 1em 1em 0 0;
}

.chatto-header .col {
    line-height: 3.5em;
    text-align: right;
}

.chatto-footer {
    background: rgba(0, 0, 0, .25);
    border-radius: 0 0 1em 1em;
}

.chatto-footer .col {
    padding: 0;
}

.chatto .row:nth-child(2) .col {
    padding-right: 7px;
}
