.chatto-input .form-group .input-group .form-control {

}

.chatto-input .form-group {
    margin: 0;
}

.chatto-input .form-control:focus,
.chatto-input .form-control {
    border: none;
    background: none;
}

.chatto-input .form-control {
    border-radius: 0 0 0 1em;
}

.chatto-input .form-control:focus,
.chatto-input .form-control {
    line-height: 2em;
    color: white;
}

.chatto-input .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 132, .25);
}

.chatto-input .input-group > .input-group-prepend > .btn {
    border-bottom-right-radius: 1em;
    background: rgba(0, 0, 0, .25);
    color: white;
    border: none;
}

.chatto-input .btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 132, .25);
}
